/** pricing.css */
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");
body {
    background-color: #fffbf7;
  }
  
  /* .main-container{
    width: 1800px;
    min-width: 375px;
    margin: 0 auto;
  } */
  h1,
  h3 {
    font-family: "Alegreya", serif;
    color: #025157;
  }
  
  h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 40px;
  }
  
  img {
    max-width: 50rem;
  
  }
  
  a {
    color: #67b54b;
    text-decoration: none;
  }
  
  p {
    color: #636363;
    font-family: verdana;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  button {
    color: #fff;
    background-color: #025157;
    padding: 12px 14px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  input[placeholder] {
    padding-left: 15px;
  }
  
  .header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
  }
  
  .header>* {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
  }
  
  .logo {
    width: 15%;
  }
  
  .navbar {
    /* width: 70%; */
    text-align: center;
    color: #025157;
    font-weight: 500;
    background-color: #fffbf7;
  }
  
  .navbar li {
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .actions {
    /* width: 15%; */
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }
  
  .actions>* {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .actions button {
    background-color: #67b54b;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 200;
  }
  
  .logo>img{
    width: 25%;
  }
  
  .main {
    margin-top: 285px;
    text-align: center;
  }
  
  .main p {
    font-size: 20px;
    text-align: center;
    /* padding: 0 25em; */
    max-width: 680px;
    margin: 0 auto;
  }

  .platforms{
    margin-top: 50px;
    text-align: center;
  }
  
.faq {
    margin-top: 50px;
    padding-bottom: 120px;
  }
  
  .faq h2 {
    color: #025157;
    font-family: "Alegreya", serif;
  }
  
  .faq .card-header {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .faq h2 > button {
    color: #025157;
    font-size: 28px;
    font-weight: 900;
  }
  
  .faq .card .card-body a {
    color: #6abf4b;
  }