body {
    background-color: #fffbf7;
}

h1 {
    color:#025157;
    text-align: center;
    font-family: 'Fascinate', cursive;
}

p {
    color: #343434;
    font-family: Verdana;
    font-size: 20px;
}
button {
    color: #fff;
    background-color: #025157;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}
/*img{
    max-width: 50rem;
    
}*/

.header {
    margin: 40px 20px;
/*    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    */
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}
.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
.navbar{
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;    
}
/* Reto 4: Menu de navegacion*/
li{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
 }
.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;

}

.actions > *{
    margin-left: 10px;
    margin-right: 10px;
}

.actions a {
    color: #67b54b;
}
.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}
.main {
    margin-top: 285px;
    text-align: center;
  }

  .publish {
    /* container styles if any */
    margin-left: 50px;
  }
  
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }
  .videoflex{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .videoflex img{
    width: 50px;
    margin-top: 20px;
  }
  .logros{
    display: flex;
    width: 100%;
    margin: 100px auto;
    align-items: center;
    background-color: #a1d683;
    justify-content: space-around;
    
  }

  .overview{
    flex: 2;
  padding-right: 100px;

  }
  .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
  }
  
  .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
  }
  
 .overview img {
    width: 500px;
    max-width: 100%;
  }

  .carrusel{
    margin-left: 50px;
  }