/*h1 {
      color: #025157;
}
*/
body {
  background-color: #fffbf7;
}

h1, h3 {
  font-family: "Alegreya", serif;
  color: #025157;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 40px;
}

img {
  max-width: 50rem;

}

a {
  color: #67b54b;
  text-decoration: none;
}

p {
  color: #636363;
  font-family: verdana;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

button {
  color: #fff;
  background-color: #025157;
  padding: 12px 14px;
  border-style: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

input[placeholder]{
  padding-left: 15px;
}

.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

.header>* {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.logo {
  width: 15%;
}

.navbar {
  /* width: 70%; */
  text-align: left;
  color: #025157;
  font-weight: 500;

}

.navbar li {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

.actions {
  /* width: 15%; */
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions>* {
  margin-right: 10px;
  margin-left: 10px;
}

.actions button {
  background-color: #67b54b;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 200;
}

.logo>img, .banner > img {
  width: 25%;
}

.main {
  margin-top: 285px;
  text-align: center;
}

.main p {
  font-size: 20px;
  text-align: center;
}
.main form > *{
margin: 10px 0;
height: 50px;
}

.main form input{
 border-radius: 5px 0 0 5px;
 border: 1px solid #aaa;
}

.main form button{
  border-radius: 0 5px 5px 0;
  padding: 0 10px;
}

/* ===== Sesion 3: Seccion de Publish con video, promo y form ===== */
.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.video-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-flex img {
  width: 50px;
  margin-top: 10px;
}

.publish {
  /* container styles if any */
  margin-left: 50px;
}

.publish>form {
  display: flex;
}

.publish form > *{
  margin: 10px 0;
  height: 50px;
  }
.publish>form p {
  color: #025157;
  margin-right: 18px;
}
.publish form input{
  border-radius: 5px 0 0 5px;
  border: 1px solid #aaa;
 }
 .publish form button{
   border-radius: 0 5px 5px 0;
   padding: 0 10px;
 }

.fixed-header {
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

/* ======== Sesion 3, Reto postwork: Section de logros con FLEX, cards, foto y descripcion  =======*/ 
.logros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a1d683;
}

.logros > article {
  width: 100%;
  margin: 50px 100px;
  padding: 10px;
}

.overview {
  flex: 2;
}

.overview img {
  width: 50%;
}

.logros .cards {
  flex: 1; 
}

.logros .cards figure{
  margin-left: 50px;
  width: 75%
}
.logros .cards figcaption{
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 20px;  
}
.logros .cards img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.logros .cards figcaption h4 {
  font-family: "Alegreya", serif;
  color: #025157;
  font-size: 14px;
}

.logros .cards figcaption h3 {
  color: #636363;
  font-family: verdana;
  font-size: 20px;
}

.logros .cards button {
  width: 100%;

}
.logros .cards .relativo {
 position: relative;
}
.logros .cards .relativo img:nth-of-type(2){
  position: absolute;
  background-color: burlywood;
  width: 80px;
  height: 80px;
  right: 50px;
  bottom: -30px;
  padding: 5px;
  border-radius: 50px;


}
/* fin del reto postwork sesion 3 */

/* Sesión 4: reto 4 Agregando el contenido de las tarjetas Features */
.features{
  display: grid;
  grid-template: repeat(2,330px)/repeat(2,1fr);
  background-color: #025157;
  padding: 100px 200px;
  gap: 25px;
}
.features > article{
  display: flex;
  background-color: #fff; 
  border-radius: 5px;
}
.features div{
  padding: 20px 40px; 
}
.features h3 {
  color: #636363;
  font-family: verdana;
  font-size: 22px;
}

.features img{
  margin-bottom: 20px;
}
/* fin del reto4 sesion 4 */
/* sesión 4: reto postwork, sección how does matcha works */

.how-does-matcha-works{
  margin-top: 50px;
  text-align: center;
}
.how-does-matcha-works> p{
  text-align: center;
}

.how-does-matcha-works .cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 50px;
  margin: 40px 200px;
}
.how-does-matcha-works .cards > article{
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;

}
.how-does-matcha-works .cards figure{
  padding: 20px;
}
.how-does-matcha-works .cards .relativo{
  height: 300px;
  position: relative;
}
.how-does-matcha-works .cards .relativo > img{
  max-width: 100%;
}

.how-does-matcha-works .cards .relativo img:nth-last-of-type(2){
  position: absolute;
  top: 0;
  left: 0;
}

.how-does-matcha-works .cards figcaption{
  margin-top: 20px;
}

.how-does-matcha-works .cards h4{
  font-family: "Alegreya", serif;
  font-size: 28px;  
  color: #025157;
}
.how-does-matcha-works .cards p{
  height: 100px;
}
/* fin del reto Postwork de la sesion 4 */

/* ======== sesion 5: responsive design ======== */
/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {

  .navbar,
  .actions {
    display: none;
  }
  .logo > img, .main img{
    width: 80%;
  }

  h1 {
    font-size: 30px;
  }

  .main {
    margin-top: 130px;
  }

  .publish>form {
    flex-direction: column;
  }

  .publish>form>div {
    height: 50px;
    margin-top: 10px;
  }
  .publish > form > div > input {
    width: 65%;
  }

  .promo {
    flex-direction: column;
    max-width: 90%;
  }

  .video-flex > video{
    width: 100%;
  }

  .publish{
    margin: 10px 5px;
  }

  h3{
    font-size: 25px;
    line-height: 1;
    margin-bottom: 15px;
  }

  .features {
    grid-template: repeat(4, 1fr) / 1fr;
    padding: 10px;
   
  }
  .feature-image{
    display: none;
  }
 
  .logros{
    flex-direction: column;    
  }
  .logros > article{
    padding: 5px 20px;
  }
  .overview img{
    margin-top: 20px;
    width: 90%;
  }
  .how-does-matcha-works .cards{
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin: 10px;
  }

}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {}